---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';

const links = [
	{ href: '/posts/', label: '文章' },
	{ href: '/archives/', label: '归档' },
	{ href: '/tags/', label: '标签' },
	{ href: '/categories/', label: '分类' },
	{ href: '/search/', label: '搜索' },
	{ href: '/about/', label: '关于' },
];
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			{links.map((link) => <HeaderLink href={link.href}>{link.label}</HeaderLink>)}
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1rem;
		background: white;
		border-bottom: 1px solid rgb(var(--gray-light));
	}
	h2 {
		margin: 0;
		font-size: 1rem;
	}
	h2 a,
	h2 a.active {
		text-decoration: none;
		color: rgb(var(--black));
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;
		max-width: var(--content-width);
		margin: 0 auto;
		padding: 0.75rem 0;
	}
	nav a {
		color: rgb(var(--gray-dark));
		text-decoration: none;
	}
	.internal-links {
		display: flex;
		flex-wrap: wrap;
		gap: 0.75rem;
		justify-content: flex-end;
	}
	@media (max-width: 720px) {
		nav {
			align-items: flex-start;
			flex-direction: column;
		}
	}
</style>
